body {
  font-family: "Arial";
}
.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  margin-bottom: 25px;
}

img {
  width: 45px;
}

.forecast-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(214, 233, 240);
  padding: 15px;
  padding-top: 5px;
  border-radius: 8px;
  width: 500px;
  height: 1100px;
}
.weather-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.temp {
  font-size: 1.2rem;
}

.low-temp,
.high-temp {
  color: rgb(61, 66, 77);
}
